/********************************* LAYOUT ***********************************/

body{
    background-image: url("../resources/images/booking-bg.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
}

.bg{
    background: transparent;
}
.section {
    position: relative;
    height: 100vh;
}

.container.container-content {
    border: white solid 2px;
}

.container.container-content div {
    background-color: white;
    margin: 2px;
    padding: 10px;
    color: black;
}

#booking {
    font-family: 'Montserrat', sans-serif;

}

#booking::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(44, 101, 136, 0.6);
}

/********************************* FORMS ***********************************/

.custom-form {
    background-color: #fff;
    padding: 50px 20px;
    -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.custom-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.custom-form .form-control, .custom-form .form-select {
    background-color: #ebecee;
    border-radius: 4px;
    border: none;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3e485c;
    font-size: 14px;
}

.custom-form .submit-btn:hover,
.custom-form .submit-btn:focus {
    opacity: 0.9;
}

/********************************* COLORS ***********************************/

.primary {
    color: white !important;
}

.danger {
    color: #ff8833 !important;
}

/********************************* HEADERS ***********************************/

.header-wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-wrapper h1, .header-wrapper h2 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.header-wrapper h1 {
    font-size: 52px;
}

.header-wrapper h2 {
    font-size: 40px;
}

.header-wrapper p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

/********************************* NAVIGATION ***********************************/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white !important;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    color: black;
}

/********************************* ADMIN LOGIN ***********************************/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.85;
}

/* Center the image and position the close button */
.img-container {
    text-align: center;
    margin: 12px 0 12px 0;
    position: relative;
}

.img-avatar {
    width: 30%;
    border-radius: 10%;
}

.container {
    padding: 16px;
    margin: 10%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/********************Admin*****************/
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightblue;
}