RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} !^page
RewriteCond %{REQUEST_URI} ^/(.*?)/?$
RewriteRule !\.(css|js|php|html|png|xml)$ index.php?page=%1 [NC,L]