<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <kajaks>
        <kajak name="Einzelkajak">
            <seats>1</seats>
            <amount>4</amount>
        </kajak>
        <kajak name="Doppelkajak">
            <seats>2</seats>
            <amount>2</amount>
        </kajak>
    </kajaks>
    <prices>
        <price name="Single">5</price>
        <price name="Complete">8</price>
    </prices>
    <kautionen>
        <kaution name="Kaution">50</kaution>
    </kautionen>
    <timeslots>
        <timeslot name="Vormittag">
            <start>09:00:00</start>
            <ende>13:00:00</ende>
        </timeslot>
        <timeslot name="Nachmittag">
            <start>13:00:00</start>
            <ende>18:00:00</ende>
        </timeslot>
    </timeslots>
</config>